 /* GENERA CONFIANZA EN TI MISMA */
    
 .conteiner__card-primario {
    padding-top: 100px;
    }
    
    .card-primario {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
    }
    
    .text__card-primario {
    max-width: 800px;
    margin: auto;
    }
    
    .text__card-primario p {
    color: var(--main_color-primario);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    }
    
    .text__card-primario h2 {
    color: var(--color_tex-secundario);
    
    }
    
    .container__box-cardPrimario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    }
    
    .box__card-primario {
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
    }
    
    .box__card-primario:hover {
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primario);
    }
    
    .box__card-primario h3 {
    margin-top: 10px;
    font-weight: 500;
    }
    